body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #FFF;
  padding: 0;
}

header {
  text-align: center;
  background-color: #40E0D0; /* Бирюзовый цвет */
  color: white;
  padding: 10px 0;
  font-family: 'Bahamas Brush';
  color: white;
  font-size: 2em;
  font-weight: bold;
}

.main-content {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../images/index/index1.jpg');
  background-size: cover;
  background-position: center;
}

.main-content img{
  width: 100%;
  height: auto; 
}

.main-content h1{
  position: absolute; 
  bottom: 10%; 
  left: 5%; 
  color: #FFF; 
  font-size: 2em; 
}

nav {
  background-color: #ddd;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.main-content {
  margin: 20px;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  width: 94.5%;
}

.main-content h2 {
  color: #333;
  margin-bottom: 20px;
}

a:hover {
  transform: scale(1.1);
}

header {
  background-color: #40E0D0; /* Бирюзовый цвет */
  color: white;
  font-size: 2em;
  font-weight: bold;
  background: linear-gradient(135deg, #40E0D0 0%, #E0FFFF 100%); /* Градиент от бирюзового к светло-голубому */
  color: #FFFFFF;
  padding: 20px 0;
  text-align: center;
  font-family: 'Bahamas Brush', sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
  margin: 0;
  font-size: 3em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Навигация */

nav {
  background-color: #ddd;
  background: linear-gradient(135deg, #40E0D0 0%, #E0FFFF 100%);
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

nav a {
  text-decoration: none;
  color: #FFFFFF;
  margin: 0 15px;
  font-size: 1.2em;
  transition: color 0.3s ease;
  padding: 14px 20px;
}

nav a:hover {
  color: #F4A460; /* Песочный цвет для акцента */
}

/* Футер */
footer {
  background: linear-gradient(135deg, #40E0D0 0%, #E0FFFF 100%);
  color: #FFFFFF;
  padding: 20px 0;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

footer p {
  margin: 0;
  font-size: 1em;
}

footer a {
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #FFA500; /* Оранжевый цвет для акцента */
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

header {
  animation: float 3s ease-in-out infinite;
}

h1 {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { fill: blue; }
  50% { fill: lightblue; }
  100% { fill: blue; }
}

@keyframes fadeInOut {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

header svg text {
  animation: pulse 2s infinite;
}

.main-content svg image {
  animation: fadeInOut 5s infinite;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline-block;
  position: relative;
}

nav a {
  text-decoration: none;
  padding: 15px;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:  #40E0D0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #FFFFFF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@keyframes headerBackground {
  0% { background-color: #85C1E9; }
  50% { background-color: #3498DB; }
  100% { background-color: #85C1E9; }
}

@keyframes pulseText {
  0% { fill: blue; }
  50% { fill: lightblue; }
  100% { fill: blue; }
}

@keyframes fadeInOutText {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

header {
  animation: headerBackground 10s infinite;
}

.main-content text {
  animation: fadeInOutText 5s infinite;
}